.userPage {
    background: #787878;
    margin: 130px 0 40px 0;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.userPage input::-webkit-input-placeholder {
    font-style: italic;
    font-weight: 300;
    color: #d2d2d2;
}

.newUser,
.edit {
    position: relative;
    margin: 0;
    width: 100%;
    font-size: 24px;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.4em;
    border: 0;
    color: #e6e6e6;
    padding: 6px;
    box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.newUser {
    padding: 16px 16px 16px 60px;
    border: none;
    background: rgba(0, 0, 0, 0.003);
}

.userList {
    margin: 0;
    padding: 0;
    list-style: none;
}

.userList li {
    position: relative;
    font-size: 24px;
    border-bottom: 1px solid #ededed;
    display: flex;
    align-items: center;
}

.userList li:first-child {
    border-top: 1px solid #ededed;
}

.userList li:last-child {
    border-bottom: none;
}

.userList li label {
    margin: 10px;
    display: block;
    color: #ededed;
}
